body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background: url(/src/assets/bg-day.png) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.modo-escuro{
    background-color:  #212121;
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    ;
}

header .logo,
header .imagem-botao {
    width: 30px;
}

header #botao-alterar-tema {
    background: none;
    border: none;
    cursor: pointer;
}

header .logo:hover,
header .imagem-botao:hover {
    transform: scale(1.20);
    transition: 0.4s ease-in-out;
}

main {
    padding: 25px;
}

.listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao-pokemon {
    background: rgb(215,240,255);
    background: linear-gradient(0deg, rgb(116, 198, 250) 0%, rgba(255,255,255,1) 100%);
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    filter: drop-shadow(4px 4px 0px rgb(27, 27, 27));
    border-radius: 10px;
    border: 3px solid rgb(149, 149, 149);
    transition: 0.2s ease-in-out;

}

.cartao-pokemon:hover {
  border: 3px solid #D62929;
  filter: drop-shadow(4px 4px 0px #D62929);
  box-shadow: 0px 0px 50px  rgb(237, 85, 100, 0.4);
}

.cartao-pokemon .informacoes {
    display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
}

.cartao-pokemon .informacoes span {
    text-transform: uppercase;
    padding: 5px;
    font-size: 17px;
}

.cartao-pokemon .gifpai {
padding-top: 5px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 120px;
  margin: auto;
}

.cartao-pokemon .gif {
    filter: drop-shadow(0px 0px 10px rgb(138, 138, 138));
}

.cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

.cartao-pokemon .tipo {
    padding: 7px;
    border-radius: 20px;
    color: #ffffff;
}

.grama {
    background: rgb(8, 115, 4);
    background: linear-gradient(90deg, rgba(8, 115, 4, 1) 0%, rgba(4, 182, 56, 1) 100%);
}

.veneno {
    background: rgb(137, 6, 228);
    background: linear-gradient(90deg, rgba(137, 6, 228, 1) 0%, rgba(192, 101, 227, 1) 100%);
}

.fogo {
    background: rgb(238, 47, 3);
    background: linear-gradient(90deg, rgba(238, 47, 3, 1) 0%, rgba(236, 93, 2, 1) 100%);
}

.agua {
    background: rgb(7, 7, 153);
    background: linear-gradient(90deg, rgba(7, 7, 153, 1) 0%, rgba(19, 91, 215, 1) 100%);
}

.inseto {
    background: rgb(123, 190, 0);
    background: linear-gradient(90deg, rgba(123, 190, 0, 1) 0%, rgba(182, 231, 65, 1) 100%);
}

.voador {
    background: rgb(0, 153, 190);
    background: linear-gradient(90deg, rgba(0, 153, 190, 1) 0%, rgba(65, 225, 231, 1) 100%);
}

.eletrico {
    background: rgb(204, 183, 27);
    background: linear-gradient(90deg, rgba(204, 183, 27, 1) 0%, rgba(228, 232, 72, 1) 100%);
}

.psico {
    background: rgb(204, 27, 138);
    background: linear-gradient(90deg, rgba(204, 27, 138, 1) 0%, rgba(232, 72, 222, 1) 100%);
}

.normal {
    background: rgb(140, 122, 85);
    background: linear-gradient(90deg, rgba(140, 122, 85, 1) 0%, rgba(153, 138, 60, 1) 100%);
}

.terra {
    background: rgb(91, 42, 3);
    background: linear-gradient(90deg, rgba(91, 42, 3, 1) 0%, rgba(161, 120, 15, 1) 100%);
}

.descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 15px;
    padding-right: 10px;

}

.modo-escuro {
    background: url(/src/assets/bg-night.jpeg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: #ffffff;
}

.modo-escuro .cartao-pokemon {
    background: rgb(215, 251, 255);
    background: linear-gradient(0deg, rgb(29, 29, 116) 0%, rgb(215, 251, 255) 100%);
    color: #ffffff;
    filter: drop-shadow(4px 4px 0px rgb(119, 119, 119));
    border: 3px solid rgb(185, 185, 185);
}

.modo-escuro .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    color: #000000;
}

.modo-escuro .cartao-pokemon:hover {
    border: 3px solid #52c0ff;
  filter: drop-shadow(4px 4px 0px #52c0ff);
  box-shadow: 0px 0px 50px  rgba(102, 191, 255, 0.5);
}

.modo-escuro .grama {
    background: rgb(8, 115, 4);
}

.modo-escuro .veneno {
    background: rgb(137, 6, 228);
}

.modo-escuro .fogo {
    background: rgb(238, 47, 3);
}

.modo-escuro .agua {
    background: rgb(7, 7, 153);
}

.modo-escuro .inseto {
    background: rgb(123, 190, 0);
}

.modo-escuro .voador {
    background: rgb(0, 153, 190);
}

.modo-escuro .eletrico {
    background: rgb(204, 183, 27);
}

.modo-escuro .psico {
    background: rgb(204, 27, 138);
}

.modo-escuro .normal {
    background: rgb(140, 122, 85);
}

.modo-escuro .terra {
    background: rgb(91, 42, 3);
}